/*1*/
.wrap {
  max-width: 480px;
  margin: 0 auto;
}
.headtitle {
  height: 40px;
  line-height: 40px;
  background-color: #06C1AE;
  text-indent: 10px;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.loginbox {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputwrap {
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 60%;
}
.inputwrap .inputtxt {
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: none;
  background: none;
  border: 1px solid #ccc;
  text-indent: 10px;
  outline: none;
  border-radius: 5px;
}
.inputwrap span {
  color: #FFA802;
}
.tips {
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  color: #666;
}
.loginbtn {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: none;
  background: none;
  background-color: #06C1AE;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
/*2register*/
.cortbtn {
  padding: 6px;
  background-color: #FFA802;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #F00 rgba(0, 0, 0, 0.5);
  -webkit-appearance: none;
}
/*3cart*/
.shopcarpro {
  padding: 3px;
  background-color: #FAFAFA;
  border-bottom: 1px dotted #ddd;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shopcarpro .choose {
  width: 30px;
  text-align: center;
  margin-top: 40px;
}
.shopcarpro .img {
  width: 100px;
  height: 100px;
}
.shopcarpro .img img {
  width: 100px;
  height: 100px;
}
.shopcarpro .txtbox {
  margin-left: 5px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.shopcarpro .txtbox .title {
  height: 40px;
  line-height: 20px;
  color: #000;
  overflow: hidden;
}
.shopcarpro .txtbox .txt {
  height: 20px;
  line-height: 20px;
  margin-top: 5px;
  color: #555;
}
.shopcarpro .txtbox .price {
  height: 20px;
  line-height: 20px;
  margin-top: 5px;
  color: #FFA802;
}
.shopcarpro .txtbox .price span {
  float: right;
  color: #666;
}
.shopcarbottom {
  padding-left: 3px;
  max-width: 480px;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px auto;
  border-top: 1px solid #ddd;
  background-color: #fff;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shopcarbottom .choose {
  width: 30px;
  text-align: center;
  margin-top: 15px;
}
.shopcarbottom .txt {
  line-height: 50px;
  color: #666;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.shopcarbottom .txt span {
  float: right;
  margin-right: 10px;
}
.shopcarbottom .txt span .price {
  margin-top: 3px;
  height: 22px;
  line-height: 22px;
  color: #333;
  text-align: right;
}
.shopcarbottom .txt span .express {
  height: 22px;
  line-height: 22px;
  text-align: right;
  font-size: 12px;
  color: #999;
}
.shopcarbottom .btn {
  width: 140px;
  background-color: #FB4B00;
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: #fff;
}
.shopcarbottom .btn a {
  display: block;
  color: #fff;
}
/*4*/
.protoppic {
  position: relative;
  min-height: 300px;
}
.protoppic .btnbox {
  position: absolute;
  z-index: 99;
  top: 20px;
  left: 0;
  right: 0;
}
.protoppic .leftbtn {
  margin-left: 10px;
  float: left;
}
.protoppic .rightbtn {
  margin-right: 10px;
  float: right;
}
.proconbox {
  margin-bottom: 50px;
}
.procontitle {
  height: 50px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.procontitle .title {
  line-height: 25px;
  color: #000;
}
.procontitle .share {
  width: 60px;
  text-align: center;
}
.procontitle .share .icon {
  height: 20px;
  padding-top: 5px;
}
.procontitle .share .txt {
  height: 25px;
  line-height: 25px;
  color: #333;
}
.proconprice1 {
  height: 30px;
  line-height: 30px;
  color: #FFA802;
}
.proconprice1 span {
  font-size: 24px;
}
.proconprice2 {
  height: 24px;
  line-height: 24px;
  color: #333;
}
.proconprice2 span {
  text-decoration: line-through;
}
.proconexpress {
  margin-top: 5px;
  height: 30px;
  line-height: 30px;
  color: #333;
}
.proconexpress .left {
  width: 33.3%;
  float: left;
  text-align: left;
}
.proconexpress .mid {
  width: 33.3%;
  float: left;
  text-align: center;
}
.proconexpress .right {
  width: 33.3%;
  float: left;
  text-align: right;
}
.proinsure {
  height: 36px;
  line-height: 36px;
  padding: 0px 5px;
  background: #FAFAFA url(../images/picon5.png) no-repeat 99% center;
  background-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.proinsure li {
  background: url(../images/picon6.png) no-repeat left center;
  text-indent: 20px;
  margin-right: 20px;
  background-size: 16px;
  float: left;
  color: #333;
}
.prodetailtitle {
  margin-top: 8px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  padding: 0px 5px;
  background: #fff url(../images/picon5.png) no-repeat 99% center;
  background-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.probottom {
  max-width: 480px;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px auto;
  border-top: 1px solid #ddd;
  background-color: #fff;
  z-index: 9999;
}
.probottom .qq {
  width: 15%;
  text-align: center;
  float: left;
  color: #fff;
  height: 50px;
  line-height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
}
.probottom .img {
  text-align: center;
  height: 30px;
  line-height: 32px;
}
.probottom .txt {
  text-align: center;
  line-height: 20px;
  height: 20px;
  font-size: 12px;
}
.probottom .fav {
  width: 15%;
  text-align: center;
  float: left;
  color: #fff;
  height: 50px;
  line-height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.probottom .shopcar {
  width: 35%;
  float: left;
  height: 50px;
  line-height: 50px;
  background-color: #FFA802;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.probottom .shopcar a {
  color: #fff;
  display: block;
}
.probottom .buy {
  width: 35%;
  float: left;
  height: 50px;
  line-height: 50px;
  background-color: #FB4B00;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.probottom .buy a {
  color: #fff;
  display: block;
}
/*5member*/
.centertop {
  background-color: #06C1AE;
  padding: 10px;
}
.centertop .icon {
  height: 30px;
  line-height: 30px;
  text-align: right;
}
.centertop .icon a {
  display: inline-block;
  width: 40px;
  text-align: center;
}
.centertop .info {
  margin-top: 10px;
}
.centertop .info .img {
  width: 50px;
  height: 50px;
  border: 3px solid #06b7a5;
  float: left;
  border-radius: 50%;
}
.centertop .info .img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.centertop .txtbox {
  float: left;
  margin-left: 5px;
  margin-top: 4px;
}
.centertop .txtbox .txt {
  height: 24px;
  line-height: 24px;
  color: #fff;
}
.centertop .txtbox .txt a {
  color: #fff;
  display: block;
}
.centerlist {
  margin-top: 8px;
}
.centerlist li {
  height: 42px;
  line-height: 42px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  text-indent: 5px;
}
.centerlist li img {
  margin-top: -3px;
  margin-right: 5px;
}
.centerlist li span {
  color: #666;
  float: right;
  margin-right: 8px;
}
.centerlist li a {
  display: block;
}
/*6*/
.topbox {
  width: 100%;
  height: 50px;
  background-color: #06C1AE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.topbox .topscan {
  width: 50px;
  text-align: center;
  margin-top: 6px;
}
.topbox .topsearchbox {
  margin-top: 8px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.topbox .topsearchbox .left {
  width: 80%;
  float: left;
}
.topbox .topsearchbox .left .topinputxt {
  height: 32px;
  line-height: 32px;
  border: 1px solid #ccc;
  width: 100%;
  background: #fff url(../images/searchbtn.png) no-repeat 3px center;
  background-size: 22px;
  text-indent: 30px;
  -webkit-appearance: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.topbox .topsearchbox .right {
  width: 20%;
  float: right;
}
.topbox .topsearchbox .right .topsearchbtn {
  height: 34px;
  line-height: 34px;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  width: 90%;
  border: none;
  background: none;
  background-color: #FFA802;
  color: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.bottombox {
  max-width: 480px;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px auto;
  border-top: 1px solid #ddd;
  background-color: #fff;
  z-index: 9999;
}
.bottombtn {
  width: 25%;
  text-align: center;
  float: left;
  color: #fff;
  height: 40px;
  line-height: 40px;
}
.bottombtn a {
  display: block;
  color: #6D6D6D;
}
.bottombtn .img {
  text-align: center;
  height: 30px;
  line-height: 32px;
}
.bottombtn .txt {
  text-align: center;
  line-height: 20px;
  height: 20px;
  font-size: 12px;
}
.linkbox {
  margin: 0px auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  margin-top: 8px;
  padding: 3px 0px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}
.linkbox .linkbtn {
  width: 25%;
  text-align: center;
  color: #fff;
  height: 76px;
  line-height: 50px;
}
.linkbox .linkbtn a {
  display: block;
  color: #6D6D6D;
}
.linkbox .linkbtn .img {
  text-align: center;
  height: 44px;
  line-height: 44px;
}
.linkbox .linkbtn .txt {
  text-align: center;
  line-height: 32px;
  height: 32px;
  font-size: 12px;
}
.indextopnews {
  height: 42px;
  line-height: 42px;
  background-color: #fff;
  color: #222;
  padding: 3px 0px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.indextopnews .left {
  width: 60px;
  text-align: center;
  border-right: 1px solid #ccc;
}
.indextopnews .right {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-indent: 10px;
}
.indexprobox {
  margin-top: 8px;
  border-top: 1px solid #ddd;
}
.indextitle {
  height: 36px;
  background-color: #fff;
  color: #06C1AE;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.indextitle img {
  margin-right: 5px;
}
.indextitle a {
  color: #FFA802;
}
.indexpro {
  width: 50%;
  float: left;
  border-right: 1px solid #ddd;
  background-color: #fff;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.indexpro:nth-child(2n+1) {
  border-right: 1px solid #fff;
}
.indexpro .txt {
  height: 32px;
  line-height: 32px;
  color: #000;
  text-align: center;
}
.indexpro .price {
  height: 28px;
  line-height: 28px;
  color: #FFA802;
  text-align: center;
}
